.about-page {
    width: 100%;
    /*max-width: 800px;*/
    /*margin: 20px auto;*/
    /*margin-left: 20px;*/
    background-color: #D5D3E0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


  
.about-info p, .about-description {
  margin: 8px 0;
}