
.devices-list {
    /*width: 30%;*/

    flex: 1; /* Ocupa el espacio disponible */
    min-width: 200px; /* Ancho mínimo */
    max-width: 300px; /* Ancho máximo para evitar que sea demasiado ancho */ 


    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .device-item {
    padding: 10px;
    margin: 10px 0;
    background-color: #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }
  
  .device-item:hover {
    background-color: #d0d0d0;
  }

  .device-item strong {
    display: block;
    font-size: 1.1em;
  }
  
  .device-item p {
    margin: 5px 0 0;
    color: #555;
  }