
.device-details {
  width: 90%;
  margin-left: 20px;
  background-color: #D5D3E0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.device-info p, .device-description {
  margin: 8px 0;
}

.use-daq-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}