/* General styling for the container */
/*
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
   
  }*/
  
  /* Styling for the title */
  h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }
  
  /* Form container */
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box; /* Incluye padding en el tamaño total */
  }
  
  /* Input styling */
  /*.input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }*/
  
  /*.input:focus {
    border-color: #3498db;
    outline: none;
  }*/
  
  /* Button styling */
  /*.button {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }*/
  
  /*.button:hover {
    background-color: #2980b9;
  }*/
  
  /* Error message styling */

  .stirring-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 350px;
}

.toggle-switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider-container-form {
    margin: 15px 0;
  }

  .slider-container-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  /*
  .slider {
    width: 100%;
    height: 8px;
    background: #ddd;
    outline: none;
    border-radius: 5px;
    transition: background 0.3s;
  }*/

  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }

  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .error {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: -10px;
  }
  