
/* Sidebar */

/*
.sidebar {
    position: fixed;
    
    left: -150px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #333;
    color: white;
    transition: left 0.3s ease-in-out;
    
    flex-direction:column;
    align-items: center;
    padding-top: 50px;
  }*/
  /* Sidebar */
  .sidebar {
    top: 0;
    /*position: relative;*/
    position: relative;
    left: -15px;
    width: 90px;
    /*height: 100vh;*/
    height: auto;
    background-color: #000000;
    /*transition: left 0.3s ease-in-out;*/
    transition: width 0.3s ease-in-out;
    border-radius: 10px;
    flex-direction: column;
    /*display: flex;*/
    padding: 10px;
    
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .sidebar.open {
    
    width: 450px; /* Se expande cuando está abierto */
  }
  
  .sidebar-options {
    
    gap: 20px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    
    /*width: 100%;*/
    align-items: flex-start; /* Alineación a la izquierda cuando está abierto */
    
    
  }

  
  
.sidebar-item {
    display: flex;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s, width 0.3s ease-in-out;
    align-items: center;
  width: 95%;
  /*position: relative;*/
    
  }
  
  .sidebar-item:hover {
    background: rgba(255, 255, 255, 0.2);
    
  }
  
  .sidebar-item-text {
    margin-left: 10px; /* Espacio entre el icono y el texto */
    color: white;
    font-size: 16px;
    
  }

  /*.sidebar.open .sidebar-item-text {
    opacity: 1; /* Muestra las opciones cuando se expande */
/*}*/
  /* Botón para abrir el menú */
  .menu-button {
    /*position: relative;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;*/
    
    left: auto;
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
/* Tooltip cuando el sidebar está cerrado */



  /* Botón para cerrar el Sidebar */
  .close-sidebar {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .sidebar.open .menu-button {
    display: flex;
    justify-content: flex-end;
  }

  /* Cuando el sidebar está cerrado, los elementos se reducen */
.sidebar:not(.open) .sidebar-item {
  display: flex;
  justify-content: center;
  width: auto;
  
}

/* Tooltip personalizado */
.sidebar-item::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
}

/* Mostrar el tooltip cuando el sidebar está cerrado y el mouse pasa encima */
.sidebar:not(.open) .sidebar-item:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(10px);
}

.sidebar-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  cursor: default; /* Evita que se comporte como botón */
  user-select: none; /* Evita que el usuario seleccione el texto */
}