.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .slider-container label {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .slider {
    width: 100%;
    max-width: 400px;
    height: 5px;
    background: #ccc;
    border-radius: 5px;
    outline: none;
   /* -webkit-appearance: none;*/
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
  }
  